
<section class="shopping">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10, col-md-12">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">{{ page }}</a></li>
          <li><a href="#/">Calendar</a></li>
          <li><a href="#/todo">To Do List</a></li>
          <!-- <li><a href="#">Profile</a></li> -->
        </ul>
      </div>
    </div>

   <!--  <div class="row" align = "left"><h3>{{ title }}</h3></div> -->
    <div class="row">
      <div class="col-md-4 col-lg-4" id="itemInput">       
        <div class="item" >
          <span>Add an item:</span>
          <input id="iName" type="text" />
        </div>
        <div class="group"> 
          <div id="iType" class="btn-group" ng-model="addItem.group">
            <input id="merchandise" class="decideWhich" type="checkbox" ng-model="checkboxModel.grocery" ng-true-value="'grocery'" ng-click='updateGrocery()'> Grocery </button>
            <input id="misc" class="decideWhich" type="checkbox" ng-model="checkboxModel.misc" ng-true-value="'misc'" ng-click='updateMisc()'> Miscellaneous </button>     
          </div>
        </div> <!-- closes group -->  
        <button id="addItem" ng-click='addItem()' >Add</button><button id="cancelItem" ng-click='cancelItem()' >Cancel</button>
      </div> <!-- closes col itemInput -->
    </div> <!-- closes row -->
    <div class="row"  id="itemDisplay"></br></br>
      <!-- <div class="col-md-6 col-lg-4" id="space"></div>  --><!-- creates empty space column -->
      <div class="col-md-4 col-lg-3" id="grocery">
        <span><u>Groceries</u></span>       
      </div> <!-- closes id=food --> 
      <div class="col-md-4 col-lg-3" id="misc">
        <span><u>Misc.</u></span>
      </div> <!-- closes id=done --> 
    </div> <!-- closes row -->
    <div class="row"  id="itemDisplay"></br></br>
      <div class="col-md-4 col-lg-3" id="groceryItem">
        <div>
          <ul ng-repeat="(key, items) in items">
            <li ng-if="items.category == 'grocery' && !items.purchased"><input type="checkbox" ng-click="moveItem(key, items)">  {{ items.name }} </li>
            <!-- <li>{{ todo.name }} <button ng-click="killTodo(todo)">Finish</button></li> -->
          </ul>
        </div>
      </div> <!-- closes id=miscItem --> 
      <div class="col-md-4 col-lg-3" id="miscItem">
        <div>
          <ul ng-repeat="(key, items) in items">
            <li ng-if="items.category == 'misc' && !items.purchased" ><input type="checkbox" ng-click="moveItem(key, items)">  {{ items.name }} </li>
          </ul>
        </div>
      </div> <!-- closes id=miscItem --> 
    </div> <!-- closes itemDisplay -->
    <div class="row"  id="purchasedDisplay"></br></br>
      <div class="col-md-4 col-lg-3" id="gotGroceryItem">
        <div>
          <ul ng-repeat="(key, items) in items">
            <li ng-if="items.category == 'grocery' && items.purchased" class="purchased"><input type="checkbox" ng-click="removeItem(key, items)">  {{ items.name }}</li>
          </ul>
        </div>
      </div> <!-- closes id=gotGroceryItem --> 
      <div class="col-md-4 col-lg-3" id="gotMiscItem">
        <div>
          <ul ng-repeat="(key, items) in items">
            <li ng-if="items.category == 'misc' && items.purchased" class="purchased"><input type="checkbox" ng-click="removeItem(key, items)">  {{ items.name }}</li>
          </ul>
        </div>
      </div> <!-- closes id=gotMiscItem -->       
    </div> <!-- closes row purchasedDisplay -->
  </div> <!-- closes container-fluid -->
  

 

  

</section>




