
<section class="shopping">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10, col-md-12" id="navTabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">{{ page }}</a></li>
          <li><a href="#/">Calendar</a></li>
          <li><a href="#/todo">To Do List</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12" id="itemInput"> 
        <div class="col-md-1" id="ltInputBuffer"></div>   
        <div class="col-md-2 col-lg-2" id="ltInput">
          <div class="row" id="item" >
            <span class="hdg">Add an item:</span>
            
          </div>
          <div class="row" id="catSel" >
           <!--  <span class="hdg">Category:</span> -->
          </div>
        </div> <!-- close col- ltInput -->
        <div class="col-md-2 col-lg-2" id="inputFields">
          <div class="row" id="textIn">
            <input id="iName" type="text" />
          </div>
        <div class="row" id="group"> 
          <!-- <div id="iType" class="btn-group" ng-model="addItem.group"> -->
            <select name="category" id="singleSelect" ng-model="data.category">
              <option value="">---Select a Category---</option> <!-- not selected / blank option -->
              <option value="grocery">Grocery</option> <!-- interpolation -->
              <option value="misc">Miscellaneous</option>
            </select><br>
          </div>
        </div> <!-- closes group -->  
        <div class="col-md-2 col-lg-2" id="rtInput">
            <div class="row" id="btns" >
              <button id="addItem" ng-click='addItem()' >Add</button><br><br><button id="cancelItem" ng-click='cancelItem()' >Cancel</button>
            </div>
          <div class="row" id="catSel" >
           <!--  <span class="hdg">Category:</span> -->
          </div>
        </div> <!-- closes col item -->
    </div> <!-- closes row -->
    <div class="row"  id="itemDisplay">
      <div class="col-md-1 col-lg-1" id="leftBufferCol"></div>
      <div class="col-md-4 col-lg-4" id="leftCol">
        <div class="row" id="groceries">
        <span class="hdg"><i>Groceries</i></span>       
        </div> <!-- closes id=grocery --> 
        <div class="row" id="grocList"> <!-- unbought grocery -->
          <div class="col-md-6 col-lg-6" id="leftColL">
            <div class="row" id="unpurchased"> <span class="hdg"><small>Unpurchased</small></span></div>

            <ul ng-repeat="(key, items) in items">
              <li ng-if="items.category == 'grocery' && !items.purchased"><input type="checkbox" ng-click="moveItem(key, items)"> {{ items.name }} </li>
            </ul>
          
          </div> <!-- close leftcol1 -->
          <div class="col-md-6 col-lg-6" id="leftColR">
            <div class="row" id="purchased"> <span class="hdg"><small>Purchased</small></span></div>
            <div class="row" id="finished">
              <ul ng-repeat="(key, items) in items">
                <li ng-if="items.category == 'grocery' && items.purchased" class="purchased"><input type="checkbox" ng-click="removeItem(key, items)">  {{ items.name }}</li>
              </ul>
            </div>
          </div> <!-- end leftColR -->
        </div> <!-- close unbought grocery -->
      </div> <!-- close leftCol -->
      <div class="col-md-2 col-lg-2"  id="midBufferCol"></div>
      <div class="col-md-4 col-lg-4" id="rightCol">
        <div class="row" id="misc">
          <span class="hdg"><i>Miscellaneous</i></span>
        </div> <!-- closes id=misc --> 
        <div class="row" id="miscList"> <!-- unbought misc -->
          <div class="col-md-6 col-lg-6" id="rightColL">
            <div class="row" id="unpurchased"> <span class="hdg"><small>Unpurchased</small></span></div>

            <ul ng-repeat="(key, items) in items">
              <li ng-if="items.category == 'misc' && !items.purchased" ><input type="checkbox" ng-click="moveItem(key, items)">  {{ items.name }} </li>
            </ul>

          </div> <!-- close rightColR -->
          <div class="col-md-6 col-lg-6" id="rightColR">
            <div class="row" id="purchased"> <span class="hdg"><small>Purchased</small></span></div>
            <div class="row">
              <ul ng-repeat="(key, items) in items">
                <li ng-if="items.category == 'misc' && items.purchased" class="purchased"><input type="checkbox" ng-click="removeItem(key, items)">  {{ items.name }}</li>
              </ul>
            </div>
          </div> <!-- close rightColR -->
        </div> <!-- close unbought misc -->
      </div> <!-- close rightCol -->
    </div> <!-- closes row itemDisplay -->
  </div> <!-- closes container-fluid -->
</section>

