
<section class="todo">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10, col-md-12" id="navTabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">{{ page }}</a></li>
          <li><a href="#/">Calendar</a></li>
          <li><a href="#/shop">Shopping</a></li>
          <!-- <li><a href="#">Profile</a></li> -->
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12" id="taskInput">
        <div class="col-md-1" id="ltInputBuffer"></div> 
        <div class="col-md-6 col-lg-4" id="ltInput">
          <div class="row" id="task" >
            <span class="hdg">Task name:</span>   
            <input id="tTitle" type="text" />
          </div>
          <div class="row" id="whose" >
            <span class="hdg">Who it's for:</span>
            <div class="people"> 
              <div id="tWho" for="taskPerson" class="btn-group" ng-model="addTask.who">
                <input id="allIn" class="decideWho" type="checkbox" ng-model="checkboxModel.all" ng-true-value="'All'" ng-click='updateAll()'>All</button>
                <input class="person" "decideWho" type="checkbox" ng-model="checkboxModel.rick" ng-true-value="'Rick'" ng-click='updateOne()'>Rick</button>
                <input class="person" "decideWho" type="checkbox" ng-model="checkboxModel.susan" ng-true-value="'Susan'" ng-click='updateOne()'>Susan</button>
                <input class="person" "decideWho" type="checkbox" ng-model="checkboxModel.neal" ng-true-value="'Neal'" ng-click='updateOne()'>Neal</button>
                <input class="person" "decideWho" type="checkbox" ng-model="checkboxModel.sydney" ng-true-value="'Sydney'" ng-click='updateOne()'>Sydney</button>
              </div>
            </div> <!-- close people -->
          </div> <!-- close id=whose -->           
        </div> <!-- close id=ltInput -->
          <div class="row" id="btns" >
            <button id="addTask" ng-click='addTask()' >Add it!</button><button id="cancelTask" ng-click='cancelTask()' >Cancel it!</button>
          </div> 
        </div> <!-- closes id=taskInput -->
      </div> <!-- closes row 14 -->
      <div class="row"  id="undone">
        <div class="col-md-1" id="ltDisplayBuffer"></div> 
        <div class="col-md-4 col-lg-3" id="toDo">
          <div class="row" id="taskDisplay">
            <span class="hdg"><i>To Do:</i></span>
          </div>
          <div class="row" id="toDoList">
            <div>
              <ul ng-repeat="(key, tasks) in tasks">
                <li ng-if="!tasks.finished"><input type="radio" value="" ng-click="moveTask(key, tasks)">  {{ tasks.title }}: {{ tasks.who.join(", ") }}</li>
              </ul>
            </div>
          </div> <!-- closes id=toDoList --> 
        </div> <!-- closes id=toDo --> 
        <div class="col-md-2 col-lg-1"  id="midBufferCol"></div>
        <div class="col-md-4 col-lg-3" id="done">
          <div class="row" id="taskDisplay">
            <span class="hdg"><i>Done:</i></span>
          </div>
          <div class="row"  id="didIt">
            <div>
              <ul ng-repeat="(key, tasks) in tasks">
                <li ng-if="tasks.finished" class="finished"><input type="radio" value="" ng-click="removeTask(key, tasks)">  {{ tasks.title }}</li>
              </ul>
            </div>
          </div> <!-- closes id=taskDisplay --> 
        </div> <!-- close ditIt -->    
      </div> <!-- closes id=taskDisplay -->
  </div> <!-- closes container-fluid -->
</section>
